<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Baidu Auto Commit -->
<script>
  axios({
    headers: {
      'Content-Type': 'plain/text'
    },
    method: 'post',
    params: {
      site: 'https://www.kindem.xyz',
      token: 'lDsJO81mKXxekZI6'
    },
    url: 'http://data.zz.baidu.com/urls',
    data: window.location.href
  });
</script>

<!-- Baidu Analytics -->
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?a0c486208ba4751b6988ccc92f1479ee";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
